body{
	background: #f1ece8;
	font-family: Helvetica;
}




/**
* Input URL Side
**/
#header{
	background: #373170;
	height: 60px;
	width: 100%;
    position: relative;
}
    #header div{
		width: 860px;
		position: absolute;
		left: 50%;
		margin: 0 0 0 -430px;
    }

	#header input{
		border: 0px;
		color: #ffff00;
		outline: none;
		padding: 20px;
        width: 100%;
		font-size: 16px;
		background: #27224f;
	}

    #header button{
        border: 2px solid #fff;        
        width: 100px;
        color: #fff;
        height: 40px;
        background: transparent;
        opacity: 0.1;
        position: absolute;
        right: 10px;
        top: 10px;
    }





/**
* Output Link List site
**/
#output{
	padding: 10px 0 0 0;
	width: 860px;
	margin: auto;
}

    /**
    * First Level 
    **/
	#output ul li{
	 	margin: 0 0 1px 0;
	}

		#output ul li a{
		    background: #FFF;
			display: block;
			padding: 24px 0 0 40px;
			color: #333333;
            height: 36px;
			font-size: 16px;	
			text-decoration: none;
		}

		#output ul li a span{
			color: #d5d5d5;
			font-size: 11px;
			display: inline-block;
			padding: 0 0 0 24px;
		}

        #output ul li:hover a.mainlink{
            -moz-box-shadow:    inset 0 0 0 2px #37a6e0;
            -webkit-box-shadow: inset 0 0 0 2px #37a6e0;
            box-shadow:         inset 0 0 0 2px #37a6e0;
            color: #37a6e0;
        }

            #output ul li:hover a.mainlink span{
                color: #a3a1b7;
            }




        /**
        * Second Level 
        **/
            /* Collapsed */
            #output ul li ul{
                display: none;
            }

            /* Expanded */
            #output ul li.expanded ul{
                display: block;
                padding: 10px 0 40px 0;
            }

                #output ul li ul li{
                    padding: 0 10px 0 8px;
                    position: relative;
                }

                    #output ul li ul li a.add{
                        position: absolute;
                        z-index: 1000;
                        background: #e9dfd7;
                        margin: 8px 0 0 -13px;
                        height: 29px;
                        width: 29px;
                        padding: 0px;
                        border-radius: 100px;
                        border: 3px #f1ece8 solid;
                    }    



                    #output ul li ul li a.link{
                        position: relative;
                        color: #504a45;
                        font-size: 13px;
                        background-color: #e9dfd7;
                        padding: 20px 0 0 40px;
                        height: 30px;
                    }

                #output ul li ul li:hover a{
                    background: #bdac9f;
                    color: #FFF;
                }

                    #output ul li ul li:hover a.add:hover{
                        width: 100px;
                        background: #574c44;
                        margin-left: -84px;
                    }
		