body{
	background: #f1ece8;
	font-family: Helvetica;
    overflow: hidden;
}

/**
* Input URL Side
**/
#header{
	background: #373170;
	height: 60px;
	width: 100%;
    position: fixed;
    z-index: 10000;
}
    #header div{
		width: 860px;
		position: absolute;
		left: 50%;
		margin: 0 0 0 -430px;
        height: 60px;
    }

    #header div.vLine{
        position: absolute;
        top: 0;
        background-image: url( '../assets/LS_Styleguide.png' );
        background-repeat: no-repeat;
        background-position: left -400px;
        height: 60px;
        width: 6px;
        z-index: 10000;
        margin: 0;
        left: -3px;
    }

    #header div.vLineRight{
        left: 857px;
    }

	#header input{
        background: #27224f;
        background-image: url( '../assets/LS_Styleguide.png' );
        background-repeat: no-repeat;
        background-position: 20px 16px;
		border: 0px;
		color: #ffff00;
		outline: none;
        height: 60px;
		padding: 20px 20px 20px 60px;
        width: 860px;
		font-size: 16px;
	}

    #header button.findLinks{
        border: 2px solid #fff;        
        width: 100px;
        color: #fff;
        height: 40px;
        background: transparent;
        opacity: 0.1;
        position: absolute;
        right: 10px;
        top: 10px;
    }
  
    #header button.addLink {
        border: 0px;
        height: 46px;
        width: 46px;
        background: transparent;
        background-image: url( '../assets/LS_Styleguide.png' );
        background-repeat: no-repeat;
        background-position: 0 -51px;
        position: absolute;
        right: 8px;
        top: 8px;
    }

        #header button.addLink:hover{
            cursor: pointer;
            background-position: -100px -51px;
        }






/**
* Output Link List site
**/
#output{
	padding: 80px 0 0 0;
	width: 860px;
    overflow: hidden;
	margin: auto;
    height: 100%;
}


#firstLevel{
    width: 875px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

    /**
    * Loading
    **/
    #output.loading .loader{
        display: block;
    }

    #output.loading ul{
        display: none;
    }

    /**
    * First Level 
    **/
	#output ul li{
        width: 860px;
	 	margin: 0 0 1px 0;
        position: relative;
	}

		#output ul li a{
		    background: #FFF;
			display: block;
			padding: 24px 0 0 20px;
			color: #333333;
            height: 36px;
			font-size: 16px;	
			text-decoration: none;
		}

        #output ul li a.mainlink{
            -moz-box-shadow:    0 1px 1px #bdac9f;
            -webkit-box-shadow: 0 1px 1px #bdac9f;
            box-shadow:         0 1px 1px #bdac9f;
        }
        
        #output ul li a.toggle {
            width: 60px;
            height: 60px;
            border: 0px;
            margin: 0px;
            padding: 0px;
            position: absolute;
            background: transparent;
            background-image: url('../assets/LS_Styleguide.png');
            background-repeat: no-repeat;
            background-position: 23px -174px;
            right: 0px;
            top: 0px;
            display: none;
        }

        #output ul li.expanded a.toggle{
            display: block;
        }

        #output ul li.expanded:hover a.toggle{
            background-image: url('../assets/LS_Styleguide.png');
            background-repeat: no-repeat;
            background-position: 23px -174px;
        }

		#output ul li a span{
			color: #d5d5d5;
			font-size: 11px;
			display: inline-block;
            position: relative;
            background-image: url('../assets/LS_Styleguide.png');
            background-repeat: no-repeat;
            background-position: left -247px;
			padding: 0 0 0 12px;
            margin: 0 0 0 12px;
            top: -2px;
		}

        #output ul li:hover a.mainlink{
            -moz-box-shadow:    inset 0 0 0 2px #37a6e0;
            -webkit-box-shadow: inset 0 0 0 2px #37a6e0;
            box-shadow:         inset 0 0 0 2px #37a6e0;
            color: #37a6e0;
        }

            #output ul li:hover a.mainlink span{
                color: #a3a1b7;
            }

            #output ul li:hover a.toggle{
                display: block;
                background: transparent;
                background-image: url('../assets/LS_Styleguide.png');
                background-repeat: no-repeat;
                background-position: 32px -128px;
            }




        /**
        * Second Level 
        **/
            /* Collapsed */
            #output ul li ul{
                opacity: 0;
                max-height: 0px;
                display: block;
                padding: 0;
                
                -webkit-transition: max-height 0.2s, padding-bottom 0.2s, padding-top 0.2s, opacity 0.2s;
                transition: max-height 0.2s, padding-bottom 0.2s, padding-top 0.2s, opacity 0.2s;
            }

            /* Expanded */
            #output ul li.expanded{
                
            }
                #output ul li.expanded a.mainlink{
                    -moz-box-shadow:    inset 0 0 0 2px #37a6e0;
                    -webkit-box-shadow: inset 0 0 0 2px #37a6e0;
                    box-shadow:         inset 0 0 0 2px #37a6e0;
                    color: #37a6e0;
                }

            #output ul li.expanded ul{
                opacity: 1;
                max-height: 300px;
                padding: 10px 0 40px 0;
            }

                #output ul li.expanded a.mainlink span{
                    color: #a3a1b7;
                }
    
                #output ul li ul li{
                    padding: 0 10px 0 8px;
                    position: relative;
                }

                    #output ul li ul li a.add{
                        overflow: hidden;
                        position: absolute;
                        z-index: 1000;
                        background: #e9dfd7;
                        background-image: url( '../assets/LS_Styleguide.png' );
                        background-repeat: no-repeat;
                        background-position: 8px -292px;
                        margin: 8px 0 0 -13px;
                        height: 29px;
                        width: 29px;
                        padding: 0px;
                        border-radius: 100px;
                        border: 3px #f1ece8 solid;
                        -webkit-transition: width 0.2s, margin 0.2s, background-color 0.2s;
                        transition: width 0.2s, margin 0.2s, background-color 0.2s;
                    }   

                    #output ul li ul li a.add span{
                        font-size: 11px;
                        font-weight: bold;
                        color: #f1ece8;
                        background: transparent;
                        padding: 11px;
                        width: 50px;
                        margin-left: 20px;
                    }

                    #output ul li ul li a.link{
                        position: relative;
                        color: #504a45;
                        font-size: 13px;
                        -webkit-transition:background-color 0.1s;
                        transition: background-color 0.1s;
                        background-color: #e9dfd7;
                        padding: 19px 0 1px 40px;
                        height: 30px;
                    }

                #output ul li ul li:hover a{
                    background: #bdac9f;
                    color: #FFF;
                }

                    #output ul li ul li:hover a.add{
                        background: #bdac9f;
                        background-image: url( '../assets/LS_Styleguide.png' );
                        background-repeat: no-repeat;
                        background-position: 8px -292px;
                        color: #FFF;
                    }

                    #output ul li ul li:hover a.add:hover{
                        width: 90px;
                        background: #574c44;
                        margin-left: -74px;
                        background-image: url( '../assets/LS_Styleguide.png' );
                        background-repeat: no-repeat;
                        background-position: 8px -292px;
                    }
		



/**
* Loader
**/
.loader {
  height: 40px;
  display: none;
  font-size: 40px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 20px auto;
  position: relative;
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.51em -0.66em 0 -0.42em #ffffff, -0.75em -0.36em 0 -0.44em #ffffff, -0.83em -0.03em 0 -0.46em #ffffff, -0.81em 0.21em 0 -0.477em #ffffff;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.29em -0.78em 0 -0.42em #ffffff, -0.43em -0.72em 0 -0.44em #ffffff, -0.52em -0.65em 0 -0.46em #ffffff, -0.57em -0.61em 0 -0.477em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  5%,
  95% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
  30% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.51em -0.66em 0 -0.42em #ffffff, -0.75em -0.36em 0 -0.44em #ffffff, -0.83em -0.03em 0 -0.46em #ffffff, -0.81em 0.21em 0 -0.477em #ffffff;
  }
  55% {
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.29em -0.78em 0 -0.42em #ffffff, -0.43em -0.72em 0 -0.44em #ffffff, -0.52em -0.65em 0 -0.46em #ffffff, -0.57em -0.61em 0 -0.477em #ffffff;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: -0.11em -0.83em 0 -0.4em #ffffff, -0.11em -0.83em 0 -0.42em #ffffff, -0.11em -0.83em 0 -0.44em #ffffff, -0.11em -0.83em 0 -0.46em #ffffff, -0.11em -0.83em 0 -0.477em #ffffff;
  }
}
